body {
  color: #000;
  background: #80808091;
  margin-top: 0px;
  font-family: sans-serif;
}

#content {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

#logo {
  background: #8080805e;
  height: 10%;
}

#logo img{
  
  height: 100%;
}

#menu img{
  height: 100%;
    float: right;
}

  

#menu {
     background: #0b0b69;
    height: 6%;
    margin-bottom: 10px;
}

#header_image {
     background: #7ef17e94;
    height: 40%;
  margin-bottom: 60px;
  border: 1px solid #fff;
}


#modules {
     height: 40%;
    background: none;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px -20px 0px;
}
#modules2 {
    height: 20%;
    background: none;
    display: flex;
    justify-content: space-around;
    margin: -20px 0 10px 0;
}

.module_column3 {
  background: #fff;
  height: 100%;
  width: 32%;
  float: left;
  margin: 6px;
  font-size: 12px;
  padding: 0 10px;
  color: #202f20;
}

#module1 {
  background: #fff;
  width: 70%;
  height: 100%;
 
  padding: 0 10px;
}

#module1 p{
    font-size: 12px;
    color: #202f20;
}

#module2 {
  background: #fff;
  width: 30%;
  height: 100%;
}

.image_gallery {
  width: 25%;
  height: 55%;
  border: 1px solid #fff;
}

#gimage1{
    background: #0caabf;
}

#gimage2{
    background: #18a518;
}

#gimage3{
    background: #f9ae40eb;
}

#gimage4{
    background: #f75252eb;
}


#footer {
     height: 5%;
    background: #fff;
    margin-top: -40px;
    font-size: 12px;
}

#footer #copy{
float: left;
width: 40%;
margin: 15px 0 0 20px;
}

#footer #design{
    float: right;
    width: 35%;
    margin: 15px 35px 0 0px;
    color: green;
    text-align: right;
    }
    

#navigation{
    background: #8080804d;
    width: 93%;
    height: 75%;
    margin-top: -5px;
}


#navigation div{
    height: 15%;
    padding: 20px 0 0 25px;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    
  }
  
  #menu li {
    float: left;
  }
  
  #menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  #menu li a:hover {
    color: #8c2e2e;
  }

  #navigation div :hover {
    color: #8c2e2e;
  }

  